<mat-card class="reg-card">
  <h2>Regisztráció</h2>
  <form [formGroup]="registForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teljes név</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="form['email'].invalid && form['email'].touched">Érvénytelen email cím</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefonszám</mat-label>
      <input matInput formControlName="phone" type="tel" required />
      <mat-error *ngIf="form['phone'].invalid && form['phone'].touched">
        Telefonszám 9-11 hosszú legyen.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Jelszó</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Jelszó újra</mat-label>
      <input matInput formControlName="confirmPassword" type="password" required />
      <mat-error *ngIf="registForm.hasError('yes') && form['confirmPassword'].touched">
        A jelszavak nem egyeznek.
      </mat-error>
    </mat-form-field>
  </form>
  <app-registration-details
    [name]="registForm.value.name"
    [email]="registForm.value.email"
    [phone]="registForm.value.phone"
    (confirmed)="onSubmit()"
    (cancelled)="registForm.reset()"
    (edited)="alertEdit()"
  ></app-registration-details>
</mat-card>
